@import 'tailwindcss';

:root {
  --spacing: 1px; /* 기본 간격 스케일 */
}
@theme {
  --color-black12: #111111;
  --color-black11: #1a1a1a;
  --color-black10: #202020;
  --color-black9: #2a2a2a;
  --color-black8: #525252;
  --color-black7: #545454;
  --color-black6: #838383;
  --color-black5: #c0c0c0;
  --color-black4: #d5d5d5;
  --color-black3: #e5e5ec;
  --color-black2: #f7f7fb;
  --color-black1: #ffffff;
  --color-starYellow: #f0d539;
  --color-redWarning: #dc3644;
  --color-greenComplete: #1ca673;
  --color-primary6: #1e3060;
  --color-primary5: #2556f5;
  --color-primary4: #3270ff;
  --color-primary3: #5997ff;
  --color-primary2: #8ebcff;
  --color-primary1: #d9e7ff;
  --color-primary0: #eef5ff;
  --color-secondary3: #ff6e2d;
  --color-secondary2: #ff8e52;
  --color-secondary1: #ffab72;

  --font-pretendard: 'Pretendard', 'sans-serif';
}
@theme inline {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
